{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet"> 
  	<body style="font-family: 'Roboto Mono', monospace, 'Source Code Pro', monospace; ">
		<div class="quiz-top-area">
			<h1 class="text-center" >CSITAN Quiz</h1>
		</div>
		<!-- <h4 class="text-info ml-4 mt-1">Organized By:</h4> -->

<div class="row ml-5">

     <div class="col-md-6">
    	<div class="quiz-title">
        <h2 id="" class="text-info mt-1">Group Score</h2>
      </div>
        <div class="quiz-option-selector ">
          <ul>
          {% for u in users %}
            <li style="width: 50%;">
              <label class="answer" style="width: 100%;">
                <input type="radio" name="quiz" value="{{a.id}}" class="exp-option-box">

                <span class="exp-label">{{forloop.counter|ordinal}} : {{u.name}}</span>
                <span style="float: right;" class="exp-number text-uppercase">{{u.score}}</span>
                <span class="checkmark-border-right"></span>
              </label>
            </li>

          {% endfor %}	
      
          </ul>
        </div>			
      </div>

      <div class="col-md-6 float-right ">
        <div class="quiz-title">
          <h2 id="" class="text-info mt-1">Rounds</h2>
        
        </div>
        
        <div class="quiz-option-selector  ">
          <ul>
          
            {% for r in rounds %}
            <a ondblclick="window.location.href='/round/{{r.id}}/question/{{r.id|first_question}}'">
           

              <li style="width: 100%;">
                <label class="answer text-center" style="width: 50%;">
                  <input type="radio" name="quiz" value="{{a.id}}" class="exp-option-box">
                  <span class="exp-label">{{r.name}}</span>
                  <span class="checkmark-border-wrong"></span>
                  
                </label>
                <!-- number of questions -->
                
              </li>
            </a>
            {% endfor %}
    
        
        
          </ul>
        </div>
      </div>
</div>		
  <footer style=" height:130px;" class="footer card mt-3 pt-1">
      <div class="">
        <div class="row ml-2">
          <div class="col-md-6 ">
            <h5 class="text-info ">Application Partner:</h5>
            <img class="" src="{% static 'img/drishya.png' %}" alt="Drishya Web" width="150px"height="100px">
          </div>
          <div class="col-md-4">
            <h5 class="text-info">Organized By:</h5>
            <img class="" src="{% static 'img/csitan.png' %}" alt="CSITAN Pokhara" width="150px"height="100px">
          </div>
          <div class="col-md-2">
           <div class="card mt-3 pb-1 mr-3">
            <h4 class="text-info mt-3 text-center">
              Developed By <br>
              <span class="text-secondary">Rupesh Acharya</span>
            </h4>
           </div>
          </div>
          
        </div>
    


      </div>
    </footer>

								

		    
		<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		<script src="{% static 'assets/js/form-step.js' %}"></script>
		<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<!-- <script src="assets/js/switch.js"></script> -->
	


     	</body>

	</html>
